.card {
  width: 540px;
  padding: 0;

}

.card__title {
 margin-top:0;
 margin-bottom: 32px;
 padding: 0;
 font-family: "Inter","Arial";
 font-style: normal;
 font-weight: bold;
 font-size: 20px;
 line-height: 30px;
}

.card__list {
 display: flex;
 flex-direction: column;
 gap: 16px;
  margin: 0;
 padding: 0;
 list-style-type: none;
}

.card__list-item{
display: flex;
justify-content: space-between;
gap: 10px;
font-family: "Noto Serif","Seref","Times New Roman";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
}

.card__list-divider {
  border-bottom: #838383 solid 1px;
  flex-grow: 1;
}