.form {
  max-width: 385px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__label {
  display: block;
  margin-bottom: 32px;
  font-family: "Inter","Arial";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  display: block;
  margin-top: 12px;
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  border-style: solid;
  border-color: #838383;
  border-radius: 4px;
  border-width: 1px;
}

.form__input::placeholder {
  color: #838383;
  font-family:"Inter","Arial";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__checkbox {
height: 20px;
width: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center ;
  gap: 12px;
  margin: 0;
}

.form__button {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 32px;
  background-color:#1878DC;
  color: #fff;
  font-family: "Inter","Arial";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  border-width: 1px;
  border-style: none;
}

.form__button:hover {
  background-color: #3f96f3;
  transition: background-color 0.25s;
}