.menu {
  background-image: url(../images/background_menu.svg);
  background-repeat:no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__title {
  max-width: 780px;
  text-align: center;
  margin-top: 75px;
  font-family: "Inter","Arial";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  max-width: 780px;
  text-align: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 100px;
  font-family: "Noto Serif","Serif","Times New Roman";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
 display: flex;
 margin: 0;
 padding: 0;
 list-style-type: none;
 flex-wrap: wrap;
 justify-content: center;
 gap: 100px;
 margin-bottom: 100px;
}