.reservation {
padding: 100px 0 215px;
background-color: #D9E7FF;
background-image: url(../images/background_reservation.svg);
background-repeat: no-repeat;
}

.reservation__title {
text-align: center;
margin: 0 0 80px;
font-family: "Inter","Arial";
font-style: normal;
font-weight: 500;
font-size: 44px;
line-height: 52px;
}

.reservation__form {
margin: 0 auto;
}